:root {
  --color-primary: #000000;
  --color-secondary: #000d1a;
  --color-tertiary: #0059b3;
  --color-quaternary: #0099ff;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: linear-gradient(var(--color-primary), var(--color-secondary)) fixed;
}
